*{
  box-sizing: border-box;
}
body{
  text-align: center;
  color: green;
}

div#Parent{
}

#section{
  width:400px;
  background-color: pink;
  overflow:hidden;
}


#child1{
  width:200px;
  height:100px;
  background-color:blue;
  float:left;
}
#child2{
  width:200px;
  height:100px;
  background-color: red;
  float:left;
}

#child3{
  width:200px;
  height:100px;
  clear:both;
  float:left;
  background-color: gray;
}

#child4{
  width:200px;
  height:100px;
  float:left;
  background-color: yellow;
}

#hyunsoo{
  background-color:green;
  width:400px;
  height:400px;
}
